    .Error-header {
      background: linear-gradient(to bottom, #7face7, #c3cee2, #d5d1ce, #eebe9a);
      background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(123, 13, 13);
  }
  
  .error-title{
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    color: #ac5f1c;
    margin-bottom: 3%;
  }
  
  .error-box{
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(2, 19, 168, 0.4), rgba(91, 187, 255, 0.4) , rgba(255, 165, 0, 0.4));
    height: auto;
    width: 70vw;
    padding: 1%;
  }