/* .App {
  text-align: center;
  background-color: #4d404a;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-pulse infinite 2s alternate;
  }
}

.App-header {
  background-image: url("../img/sunrise.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

.title{
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  background: #fbf8ec;
  background: -moz-linear-gradient(top, #ffffff 35%, #E1683C 100%);
  background: -webkit-linear-gradient(top, #ffffff 35%,#E1683C 100%);
  background: -ms-linear-gradient(top, #ffffff 35%,#E1683C 100%);
  background: linear-gradient(to bottom, #ffffff 35%,#E1683C 100%);
  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 3%;
  line-height: 1.3;
}

.box{
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(255, 105, 91, 0.4) , rgba(255, 165, 0, 0.4));
  height: auto;
  width: 70vw;
  padding: 1%;
}

.features{
  background-color: #4d404a;
  color: white;
  padding: 3%;
} */