.resource-header{
    text-align: center;
    background-image: url("../img/foggy.jpg");
    background-size: cover;
    background-position: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(100vh - 54px);
    background-color: rgb(233, 234, 235, 0.4);
    border-style: none solid none none;
    border-width: thin;
}

.selection {
    text-decoration: none;
    color: black;
}

.selection:hover {
    border: 1px solid #777;
  }

  .table{
    height: calc(94vh - 54px);
    overflow-y: auto;
  }
